# Grabbing Jewel's SnowPit Data

1. Grab pit and format correctly and be named correctly
2. Loop through folder of .csv's and create correct temperature profiles
3. Merge all profiles into one "dictionary"??? geopandas magic dataframe?

Test Blob: 1DufHRYtWqxQUFrfqdFx1FViFbaTCkmAV

In [32]:
import pandas as pd
df = pd.read_csv('https://drive.google.com/uc?export=download&id=1DufHRYtWqxQUFrfqdFx1FViFbaTCkmAV', header=None)

In [33]:
df

             0                                                  1      2
0    Location:                                        County Line    NaN
1        Type:                                               Open    NaN
2     Easting:                                             756905    NaN
3    Northing:                                            4324353    NaN
4    Surveyor:                                            J. Lund    NaN
5        Time:                                       3/12/20 9:58    NaN
6   Time Type:                                                 AM    NaN
7    Air Temp:                                               -2.8    NaN
8          Hs:                                                111    NaN
9      Ground:               Rough ground, no info on vegetation.    NaN
10      Notes:                            Temperature 9:58-10:10.    NaN
11         Wx:  Calm, mostly cloudy, but sun still shining (th...    NaN
12         NaN                                                NaN    NaN
13          Hs                                        Temperature  Notes
14         110                                               -4.4    NaN
15         100                                               -3.5    NaN
16          90                                               -3.2    NaN
17          80                                               -3.1    NaN
18          70                                               -3.1    NaN
19          60                                                 -3    NaN
20          50                                               -2.8    NaN
21          40                                               -2.7    NaN
22          30                                               -2.6    NaN
23          20                                               -2.2    NaN
24          10                                                 -2    NaN
25           0                                               -1.7    NaN

pandas subsetting during imports...
need to read metadata into separate columns
and rename columns to match SnowEx naming conventions

In [34]:
# grab the snow temperature data
dfdata = pd.read_csv('https://drive.google.com/uc?export=download&id=1DufHRYtWqxQUFrfqdFx1FViFbaTCkmAV', header = 13)

In [35]:
dfdata

     Hs  Temperature  Notes
0   110         -4.4    NaN
1   100         -3.5    NaN
2    90         -3.2    NaN
3    80         -3.1    NaN
4    70         -3.1    NaN
5    60         -3.0    NaN
6    50         -2.8    NaN
7    40         -2.7    NaN
8    30         -2.6    NaN
9    20         -2.2    NaN
10   10         -2.0    NaN
11    0         -1.7    NaN

In [36]:
# grab the metadata only
dfmeta = df.head(12)

In [37]:
dfmeta

             0                                                  1    2
0    Location:                                        County Line  NaN
1        Type:                                               Open  NaN
2     Easting:                                             756905  NaN
3    Northing:                                            4324353  NaN
4    Surveyor:                                            J. Lund  NaN
5        Time:                                       3/12/20 9:58  NaN
6   Time Type:                                                 AM  NaN
7    Air Temp:                                               -2.8  NaN
8          Hs:                                                111  NaN
9      Ground:               Rough ground, no info on vegetation.  NaN
10      Notes:                            Temperature 9:58-10:10.  NaN
11         Wx:  Calm, mostly cloudy, but sun still shining (th...  NaN

In [42]:
# transpose the metadata to columns
dftranspose = dfmeta.transpose().head(2)

In [43]:
dftranspose

,0,1,2,3,4,5,6,7,8,9,10,11
0,Location:,Type:,Easting:,Northing:,Surveyor:,Time:,Time Type:,Air Temp:,Hs:,Ground:,Notes:,Wx:
1,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,111,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th..."

In [44]:
# grab column names from the first row
newheader = dftranspose.iloc[0]

In [45]:
newheader

0      Location:
1          Type:
2       Easting:
3      Northing:
4      Surveyor:
5          Time:
6     Time Type:
7      Air Temp:
8            Hs:
9        Ground:
10        Notes:
11           Wx:
Name: 0, dtype: object

In [46]:
# remove the column names row
dftranspose = dftranspose[1:]

In [47]:
dftranspose

,0,1,2,3,4,5,6,7,8,9,10,11
1,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,111,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th..."

In [48]:
# add column names to transposed metadata
dftranspose.columns = newheader
dftranspose

In [59]:
# duplicate rows of metadata to length of snow pit temperature profile
dfdup = dftranspose.reindex(dftranspose.index.repeat(len(dfdata))).reset_index(drop=True)
dfdup

,Location:,Type:,Easting:,Northing:,Surveyor:,Time:,Time Type:,Air Temp:,Hs:,Ground:,Notes:,Wx:
0,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,111,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th..."
1,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,111,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th..."
2,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,111,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th..."
3,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,111,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th..."
4,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,111,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th..."
5,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,111,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th..."
6,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,111,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th..."
7,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,111,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th..."
8,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,111,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th..."
9,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,111,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th..."
10,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,111,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th..."
11,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,111,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th..."

In [63]:
# merge dfdata with dfdup to make a complete df of snow profile temps
dfmerged = pd.concat([dfdup, dfdata], axis = 1)
dfmerged.keys()[]

Index(['Type:', 'Easting:', 'Northing:', 'Surveyor:', 'Time:', 'Time Type:',
       'Air Temp:', 'Hs:', 'Ground:', 'Notes:', 'Wx:', 'Hs', 'Temperature'],
      dtype='object')

In [68]:
del dfmerged['Hs:']

KeyError: 'Hs:'

In [69]:
dfmerged

,Location:,Type:,Easting:,Northing:,Surveyor:,Time:,Time Type:,Air Temp:,Ground:,Notes:,Wx:,Hs,Temperature,Notes
0,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th...",110,-4.4,NaN
1,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th...",100,-3.5,NaN
2,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th...",90,-3.2,NaN
3,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th...",80,-3.1,NaN
4,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th...",70,-3.1,NaN
5,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th...",60,-3.0,NaN
6,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th...",50,-2.8,NaN
7,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th...",40,-2.7,NaN
8,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th...",30,-2.6,NaN
9,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th...",20,-2.2,NaN
10,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th...",10,-2.0,NaN
11,County Line,Open,756905,4324353,J. Lund,3/12/20 9:58,AM,-2.8,"Rough ground, no info on vegetation.",Temperature 9:58-10:10.,"Calm, mostly cloudy, but sun still shining (th...",0,-1.7,NaN